/* Navbar start */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro&display=swap');
body {
    font-family: 'Playfair Display', serif;
}

#Navbar {
    /* background-color: #0B1517; */
    background-color: rgba(12, 12, 13, 0.78);
}

.navbar-fixed-top {
    position: fixed;
    background-color: aqua;
    width: 100%;
    background-color: rgba(12, 12, 13, 0.78);
    transition: 0.8s ease
}


/* .Logo {
    justify-content: space-between;
} */

.Logo img {
    width: 120px;
    /* border-radius: 50%; */
}

.navbar {
    display: flex !important;
}


/* .navbar .navbar-nav .nav-item {
    margin-right: 50px;
} */

.navbar .navbar-nav .nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff !important;
    font-size: 18px;
    padding: 13px 11px 10px 40px;
}

.navbar .navbar-nav .nav-link :hover {
    color: #fff !important;
}

.fa-bars {
    color: #fff;
}


/* @media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        align-content: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }
} */


/* @media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        align-content: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }
} */


/* @media (min-width: 576px) {
    .navbar-expand-sm .navbar-collapse {
        align-content: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }
} */


/* #navbarColl {
    justify-content: center
} */


/* Navbar End */


/* <*******************************> */

.owl-carousel .item img {
    /* height: 600px; */
    display: inline-block;
    max-width: auto;
    height: 650px!important;
    /* margin-bottom: 30px; */
    /*    object-fit: cover;
    object-position: center*/
}


/*@media screen and (max-width: 766px) {*/


/*    .owl-carousel .item img{*/


/*        width: 100%;*/


/*        height: 50px;*/


/*        object-fit: cover;*/


/*        max-width: initial;*/


/*    }*/


/*}*/

.owl-carousel .owl-wrapper {
    display: flex !important;
}

.owl-carousel .owl-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: initial;
}

@media screen and (max-width: 766px) {
    .navbar {
        background-color: rgba(12, 12, 13, 0.78);
    }
}

.owl-nav {
    display: none;
}

.owl-dots {
    display: none;
}


/* Slider End */


/*featured start*/

.Featured-card-title h4 {
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    color: #241e1c;
}

.Featured-card-title {
    padding: 1.5rem 0.25rem;
    /* width: 255px;
    height: 251px; */
}


/* a.img_container {
    width: 255px;
    height: 251px;
}

.Featured-card {
    margin-left: 150px;
    margin-left: 150px;
} */


/* .cover {
    width: 255px;
    height: 251px;
} */

#Featured h3 {
    text-align: center;
    font-size: 42px;
    color: #241e1c;
    margin-top: 50px;
    margin-bottom: 50px;
}


/*featured end*/


/*About start*/

#About {
    background-color: #f4f4f4;
}

#About h3 {
    text-align: center;
    font-size: 42px;
    color: #241e1c;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-img-container {
    padding-left: 120px;
    margin: 50px 0 50px;
}

.about-txt-container {
    margin-top: 50px;
    padding-right: 70px;
}

.title {
    margin-top: 15px;
    font-size: 18px;
}

.about-content {
    margin-top: 20px;
    font-size: 15px;
}


/*About end*/


/***********
 debug start
 ***********/


/* .container {
    border: 2px solid green;
}

.row {
    border: 2px solid rgb(0, 0, 0);
} */


/***********
 debug end 
 ***********/